html
  head
    title= title
    link(rel='stylesheet' href='/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")  
  - var generic_group_prompt = "Please answer the questions below"
  body.wrapper
    div(class='row')
      div(class='column')  
        form(action = "/survey", method = "POST")
          ul
            each item, index in survey
              if index == 0
                h2
                  if admin 
                    a(href='/') ←
                    |  
                  = item.group_prompt ? item.group_prompt : generic_group_prompt
                if required
                    p * answer required for submission.
              else if survey[index-1].group_prompt != item.group_prompt
                h2= item.group_prompt ? item.group_prompt : generic_group_prompt
              if item.prompt
                li(class='inputBlock')
                  h4= start++ + ". " + item.prompt + (required ? " *" : "")
                  // if item.elaboration_definition
                    blockquote!= "<strong>Definition:</strong> " + item.elaboration_definition
                  //if item.elaboration_example
                    blockquote!= "<strong>Example:</strong> " + item.elaboration_example
                    // - detailsID = item.name + '_details'
                    // - detailsInputID = detailsID + '_input'
                    // details(id = detailsID onclick="countDetails(this.id)" open)= item.elaboration_definition
                       summary <strong>Definition</strong> (space to toggle)
                    // details(id = detailsID onclick="countDetails(this.id)" open)= item.elaboration_example
                      summary <strong>Example</strong> (space to toggle)
                    // input(type='hidden' id=detailsInputID name=detailsID value=0)
              if item.image
                img(src=item.image, alt= '')
              if item.response
                if item.response == 'text'
                    input(type='text' name=item.name placeholder='Type your answer' required= required)
                if item.response == 'numeric'
                   input(type='number' name=item.name placeholder='Enter a number' required= required)
                else if !item.response.includes("|")
                  - answers = item.response.split(' & ')
                  div(class='inputbox' role= 'radiogroup')
                    h5 Select all that apply
                    each answer in answers
                      - id = (answer+item.name).replace(/ /g,'')
                      input(type='checkbox' role='checkbox' name= item.name id= id value= answer)
                      label(for=id)= answer
                else
                  - answers = item.response.split(' | ')
                  div(class='inputbox' role= 'radiogroup')
                    each answer in answers
                      - id = (answer+item.name).replace(/ /g,'')
                      input(type='radio' role='radio' name= item.name id= id value= answer required= required)
                      label(for=id)= answer                
          if task
            input(type='hidden' name='task' value=task.name)
          if start
            input(type='hidden' name='start' value=start)
          if session
            input(type='hidden' name='session' value=session)
          each value, name in query
            input(type='hidden' name=name value=value)
          if start_time
            input(type="hidden" name='start_time' value=start_time)
          if final 
            input(type="hidden" name="final" value=final)
          if check 
            input(type="hidden" name="check" value= check)
          if query.curr_page
            h3 Disclaimer: You cannot return to this page
            h4 Page #{(query.curr_page - 1).toString().toUpperCase()} of #{final.toString().toUpperCase()}
          //- This is for csrf protection
          input(type= "submit")
    script(src='/client.js')