html
  head
    title= title
    link(rel='stylesheet' href='/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")  
  body.wrapper
    h1 
      if admin 
        a(href='/') ←
      |  Answer the questions below
    div(class='row')
      div(class='column')  
        if required
            p * answer required for submission.
        form(action = "/survey", method = "POST")
          ol
            each item, index in survey
              if item.group_prompt
                if survey[index-1].group_prompt != item.group_prompt
                  h3= item.group_prompt
              else if index == 0
                h3= "Answer the questions below"
              if item.prompt
                li(class='inputBlock')
                  h4= item.prompt + (required ? " *" : "")
                  if item.elaboration_definition
                    blockquote!= "<strong>Definition:</strong> " + item.elaboration_definition
                  if item.elaboration_example
                    blockquote!= "<strong>Example:</strong> " + item.elaboration_example
                    // - detailsID = item.name + '_details'
                    // - detailsInputID = detailsID + '_input'
                    // details(id = detailsID onclick="countDetails(this.id)" open)= item.elaboration_definition
                       summary <strong>Definition</strong> (space to toggle)
                    // details(id = detailsID onclick="countDetails(this.id)" open)= item.elaboration_example
                      summary <strong>Example</strong> (space to toggle)
                    // input(type='hidden' id=detailsInputID name=detailsID value=0)
              if item.image
                img(src=item.image, alt= '')
              if item.response
                if item.response == 'text'
                    input(type='text' name=item.name placeholder='Type your answer' required= required)
                if item.response == 'numeric'
                   input(type='number' name=item.name placeholder='Enter a number' required= required)
                else if !item.response.includes("|")
                  - answers = item.response.split(' & ')
                  div(class='inputbox' role= 'radiogroup')
                    h5 Select all that apply
                    each answer in answers
                      - id = (answer+item.name).replace(/ /g,'')
                      input(type='checkbox' role='checkbox' name= item.name id= id value= answer)
                      label(for=id)= answer
                else
                  - answers = item.response.split(' | ')
                  div(class='inputbox' role= 'radiogroup')
                    each answer in answers
                      - id = (answer+item.name).replace(/ /g,'')
                      input(type='radio' role='radio' name= item.name id= id value= answer required= required)
                      label(for=id)= answer
          if task
            input(type='hidden' name='task' value=task.name)
          if user
            input(type='hidden' name='user' value=user)
          input(type='hidden' name='platform' value=platform)
          input(type= "submit")
    script(src='/client.js')