mixin block(item, start, req)
  div(class='inputBlock')
    h4= start + ". " + item.prompt + (req ? " *" : "")

    if item.image
      img(src=item.image, alt= '')
    if item.response == 'text'
      div(class='inputbox')
        input(type='text' name=item.name placeholder='Type your answer' required= req)
    else if item.response == 'number'
      div(class='inputbox')
        input(type='number' name=item.name placeholder='Enter a number' required= req)
    else if item.response == 'date'
      div(class='inputbox')
        input(type='date' name=item.name placeholder='Enter a date' required= req)
    else if !item.response.includes("|")
      - answers = item.response.split(' & ')
      div(class='inputbox' role= 'radiogroup')
        h5 Select all that apply
        each answer in answers
          if answer.includes("#")
            - main = answer.substring(1)
            - id = (main+item.name).replace(/ /g,'')
            input(type='checkbox' role='checkbox' name= item.name id= id value= main)                            
            label(for=id)= main
          else
            - id = (answer+item.name).replace(/ /g,'')
            input(type='checkbox' role='checkbox' name= item.name id= id value= answer)
            label(for=id)= answer
    else
      - answers = item.response.split(' | ')
      div(class='inputbox' role= 'radiogroup')
        each answer in answers
          if answer.includes("#")
            - main = answer.substring(1)
            - id = (main+item.name).replace(/ /g,'')
            - check = false
            input(type='radio' role='radio' name= item.name id= id value= main required= req)
            label(for=id)= main
          else
            - id = (answer+item.name).replace(/ /g,'')
            input(type='radio' role='radio' name= item.name id= id value= answer required= req)
            label(for=id)= answer    